{% extends 'base.html' %}
{% block title %}Adicionar Jogo{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center" style="height: 100vh;">
        <form method="post" action="{% url 'add-game' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Título:</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
                <label for="description">Descrição:</label>
                <textarea class="form-control" id="description" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="price">Preço:</label>
                <input type="number" class="form-control" id="price" name="price" step="0.01">
            </div>
            <div class="form-group">
                <label for="promotion">Promoção:</label>
                <input type="number" class="form-control" id="promotion" name="promotion" min="0" max="100">
            </div>
            <div class="form-group">
                <label for="release_date">Data de lançamento:</label>
                <input type="date" class="form-control" id="release_date" name="release_date">
            </div>
            <div class="form-group">
                <label for="cover_image">Imagem de capa:</label>
                <input type="file" class="form-control" id="cover_image" name="cover_image">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mr-2">Adicionar</button>
            </div>
        </form>
    </div>
{% endblock %}
