{% extends 'base.html' %}
{% block title %}Rating Menu{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>    
<div class="d-flex justify-content-center" style="height: 100vh;">
    <ul class="list-group">
        {% for game in games %}
            <a href="/gamesadm/{{game.id}}" class="text-decoration-none">
                <li class="list-group-item">{{ game.title }}</li>
            </a>  
            {% empty %}
            <li class="list-group-item">Nenhum game cadastrado.</li>
        {% endfor %}
        <a href = "/gamesadm/add/" class="btn btn-primary">Adicionar Jogo</a>
    </ul>
</div>
    
{% endblock %}
