{% extends 'base.html' %} 
{% block title %}Game Dame{% endblock %}
{% block content %}

<div class="d-flex justify-content-center bg-black" >
    <div id="carouselExampleIndicators" class="carousel slide carousel-size rounded">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <a href="/game/{{random_games.0.id}}" class="text-decoration-none">
                <div class="carousel-item active">

                    <img src="{{random_games.0.cover_image.url}}" class="d-block w-100" alt="...">
                </div>
            </a>
            <a href="/game/{{random_games.1.id}}" class="text-decoration-none">
                <div class="carousel-item">
                    <img src="{{random_games.1.cover_image.url}}" class="d-block w-100" alt="...">
                </div>
            </a>
            <a href="/game/{{random_games.2.id}}" class="text-decoration-none">
                <div class="carousel-item">
                    <img src="{{random_games.2.cover_image.url}}" class="d-block w-100" alt="...">
                </div>
        </div>
        </a>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container p-3" id="promocoes">
    <h1 class = "pb-3 category-title">Promoções</h1>
    <div class="row">
        {% for game in games_on_sale %}
            <div class="col-md-3 mb-3 ">
                <a href="/game/{{game.id}}" class="text-decoration-none">
                    <div class="card game-card">
                        <img src="{{game.cover_image.url}}" class="card-img-top" alt="Imagem 1" />
                        <div class="card-body">
                            <h5 class="card-title text-truncate">{{game.title}}</h5>
                            {% if game.promotion > 0 %}
                                <del class="text-muted mr-2">R$ {{ game.price }}</del>
                                <span class="text-danger h6">R$ {{ game.price_with_discount }}</span>
                            <p class="card-text">
                                <small class="text-muted ">{{game.promotion}}% de desconto!</small>
                            </p>
                            {% else %}
                                <p class="card-text">R$ {{game.price}}</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container p-3" id="lancamentos">
    <h1 class = "pb-3 category-title">Lançamentos</h1>
    <div class="row">
        {% for game in latest_games %}
            <div class="col-md-3 mb-3">
                <a href="/game/{{game.id}}" class="text-decoration-none">
                    <div class="card game-card">
                        <img src="{{game.cover_image.url}}" class="card-img-top" alt="Imagem 1" />
                        <div class="card-body">
                            <h5 class="card-title text-truncate">{{game.title}}</h5>
                            {% if game.promotion > 0 %}
                                <del class="text-muted mr-2">R$ {{ game.price }}</del>
                                <span class="text-danger h6">R$ {{ game.price_with_discount }}</span>
                            <p class="card-text">
                                <small class="text-muted ">{{game.promotion}}% de desconto!</small>
                            </p>
                            {% else %}
                                <p class="card-text">R$ {{game.price}}</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="container p-3" id="populares">
    <h1 class = "pb-3 category-title">Populares</h1>
    <div class="row">
        {% for game in best_selling_games %}
            <div class="col-md-3 mb-3">
                <a href="/game/{{game.id}}" class="text-decoration-none">
                    <div class="card game-card">
                        <img src="{{game.cover_image.url}}" class="card-img-top" alt="Imagem 1" />
                        <div class="card-body">
                            <h5 class="card-title text-truncate">{{game.title}}</h5>
                            {% if game.promotion > 0 %}
                                <del class="text-muted mr-2">R$ {{ game.price }}</del>
                                <span class="text-danger h6">R$ {{ game.price_with_discount }}</span>
                            <p class="card-text">
                                <small class="text-muted ">{{game.promotion}}% de desconto!</small>
                            </p>
                            {% else %}
                                <p class="card-text">R$ {{game.price}}</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}